<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= global.title %></title>
    <meta name="description" content="<%= global.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="<%= global.title %>">
    <meta property="og:description" content="<%= global.description %>">
    <meta name="twitter:card" content="summary">
    <% if (global.url) { %>
    <meta name="twitter:url" content="<%= global.url %>">
    <% } %>
    <meta name="twitter:title" content="<%= global.title %>">
    <meta name="twitter:description" content="<%= global.description %>">
    <meta name="twitter:site" content="@SpotifyEng">
    <script src="https://use.typekit.net/acl2qta.js"></script>
    <script type="text/javascript">try{Typekit.load({ async: true });}catch(e){}</script>

    <!--[if IE]>
    <link rel="shortcut icon" href="//d2c87l0yth4zbw.global.ssl.fastly.net/i/_global/favicon.ico">
    <![endif]-->

    <link rel="icon" href="//d2c87l0yth4zbw.global.ssl.fastly.net/i/_global/favicon.png">
    <link rel="stylesheet" href="all.css">
  </head>

  <body>
    <span id="forkongithub"><a href="https://github.com/spotify/apollo">Fork me on GitHub</a></span>
    <main>
      <article class="container">
        <!-- lingon: yield -->
      </article>
    </main>
  </body>
</html>
